*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

footer {
    width: 95vw;
    display: block;
    overflow: hidden;
    padding: 20px 30px;
    box-sizing: border-box;
    background-color: #32F08E;
    margin: 0 auto;
    margin-bottom: 50px;
    font-family: 'Work Sans', sans-serif;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
}

.inner-footer {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

.inner-footer .logo-container {
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}

.inner-footer .logo-container img {
    margin-top: 15px;
    width: 100px;
    height: auto;
}

.inner-footer .footer-third {
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}

.inner-footer .footer-third:last-child{
    margin-right: 0;
}

.inner-footer .footer-third h1{
    font-size: 24px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.inner-footer .footer-third h2{
    font-size: 18px;
    color: white;
    display: block;
    width: 100%;
    padding-bottom: 5px;
}

.inner-footer .footer-third a{
    font-size: 16px;
    color: white;
    display: block;
    width: 100%;
    transition-duration: 0.9s;
}

.inner-footer .footer-third p{
    font-size: 14px;
    color: white;
    display: block;
    width: 100%;
    padding-bottom: 5px;
}

.inner-footer .footer-third a:hover{
    color:#D65BE7;
}

@media(max-width: 1000px){
    .footer .inner-footer{
        width: 90%;
    }
    .inner-footer .logo-container,
    .inner-footer .footer-third {
        width: 100%;
    }
    .inner-footer .logo-container img {
        margin-top: 0;
        padding-top: 0;
    }
}