.container {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #32F08E;
    position: fixed;
    width: 95%;
    bottom: 50px;
    display: flex;
    justify-content: center;
    animation: fadeInAnimation ease 3.2s;
    animation-iteration-count: 1;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }    
}

@media screen and (max-width: 1700px) {
    footer {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    footer {
        width: 85%;
    }
}